/* footer{
  background-color: green;
  height: calc(100vh - 70vh - 80px);
  color: white;
  text-align: center;
} */

.footer-content{
  background-color: #3f51b5;
  height: calc(100vh - 70vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.footer-bottom{
  background-color: rgb(43, 32, 199);
  height: 70px;
}
