<div class="single-product-details-container content">
    <div class="product-details-title">
        <ul class="flex unlisted gap-10">
            <li><a href="">Description</a></li>
            <li><a href="">Additional Info</a></li>
            <li><a href="">Reviews</a></li>
        </ul>
    </div>
    <div class="product-details-infos">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus temporibus, nisi pariatur veniam laudantium eveniet et incidunt assumenda autem quo, facilis, nobis qui saepe. Et nostrum quis fugiat error blanditiis.
        Nobis, quo sapiente eum quisquam saepe, perferendis libero sint cumque doloribus error dolores, itaque assumenda quae! Vitae laudantium iure rem, quis nam sequi minima numquam totam, libero vel dolores incidunt!
        Veritatis nam accusantium nostrum sunt, rerum labore voluptate doloribus vero beatae blanditiis, minus fugiat ut molestiae alias totam neque eius a nihil sint autem? Harum, dolore porro? Autem, unde eius?
        Harum sit laboriosam consequuntur, iure placeat recusandae, iste voluptatem expedita voluptate aut aliquid id? Voluptatibus, aliquam eveniet! Totam, natus aliquam dignissimos eum, perferendis magnam, ipsum voluptatem consectetur qui dolorum quae?
        Fuga quis voluptatem, nihil natus possimus corporis officiis asperiores est atque blanditiis sunt nobis soluta dolorum assumenda sequi officia quod necessitatibus at! Nulla deleniti nihil assumenda, commodi provident atque quis.
        Voluptate porro illum nobis recusandae est at, aut voluptates ad obcaecati minima tenetur deserunt voluptatibus dicta consectetur quia facilis? Ut ullam deleniti voluptatum similique rem facilis veniam, qui vel facere.
        Aliquam, impedit. Dolore corporis sit quasi optio laudantium dolores aperiam cum atque explicabo repellat. Quisquam assumenda esse ex deserunt iusto, dolorem amet provident, distinctio dicta veritatis aliquam, aut officia error!
        Blanditiis laborum exercitationem pariatur voluptate, quae voluptas rem culpa dolor doloribus aut magni dignissimos ea quod nemo qui quam autem nulla? Consectetur minima impedit rem repellendus eveniet totam laudantium minus.
        Enim soluta maxime expedita qui aspernatur cupiditate saepe, animi quasi quos? Ipsam voluptatibus nesciunt corporis labore incidunt reprehenderit ut tempora? Minima alias aliquid nulla illum pariatur nostrum voluptatum labore tempora.
        Hic corrupti culpa nulla harum vitae eveniet quibusdam aliquam, beatae placeat officiis repellat assumenda expedita quis nesciunt perferendis amet nisi! Itaque odit necessitatibus nulla nesciunt iusto natus fugit iure voluptates.
    </div>
</div>