<!-- <div class="signup signin">
  <div class="form-inline firstname">
    <input
    type="text"
    name="firstname"
    placeholder="your name..."
    [(ngModel)]="firstname"
    />
    <button class="btn"  (click)="handleSave()">Save</button>
  </div>

  <div class="names">
    <ul>
      <li class="flex aic" *ngFor="let name of names; let index = index">{{name}}
        <div class="name-action flex gap-5">
          <button class="btn" (click)="handleUpdate(index)">Update</button>
          <button class="btn" (click)="handleDelete(index)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div> -->

<div class="signup">
  <div class="form-container">
    <form action="" [formGroup]="signupForm">
      <h2>Inscription</h2>
      <div class="form-line flex gap-10 wrap">
        <input class="flex-1"
        type="text" name="firstname" [formControl]="firstname" placeholder="your firstname ..." id=""
        >
        <input class="flex-1"
        type="text" name="lastname" [formControl]="lastname" placeholder="your lastname ..." id=""
        >
      </div>
      <!-- <div class="form-line"> -->
        <div class="error" *ngIf="lastname.dirty">
          <p *ngIf="lastname.hasError('required')">
            le firstname est requis
          </p>
        </div>
        <div class="error" *ngIf="lastname.dirty">
          <p *ngIf="lastname.hasError('required')">
            le lastname est requis
          </p>
        </div>
      <!-- </div> -->
      <div class="form-line flex">
        <input class="flex-1"
        type="email" name="email" [formControl]="email" placeholder="your email please ..." id=""
        >
      </div>
      <div class="error" *ngIf="email.dirty && !email.valid">
        <p *ngIf="email.hasError('required')">
          L'email est requis
        </p>
        <p *ngIf="!email.hasError('required')">
          L'email ne respect pas le bon format
        </p>
      </div>
      <div class="form-line flex">
        <input class="flex-1"
        type="password" name="password" [formControl]="password" placeholder="your password please ..." id=""
        >
      </div>
      <div class="error" *ngIf="password.dirty && !password.valid">
        <p *ngIf="password.hasError('required')">
          The password is required
        </p>
        
        <p *ngIf="password.hasError('minlength')">
          The password must be at least 6 characters
        </p>
      </div>
      <div class="form-line flex">
        <input class="flex-1"
        type="password" name="passwordConfirm" [formControl]="passwordConfirm" placeholder="Confirm your password please ..." id=""
        >
      </div>
      <div class="error" *ngIf="passwordConfirm.dirty && !passwordConfirm.valid">
        <p *ngIf="passwordConfirm.hasError('required')">
          The password is required
        </p>
        
        <p *ngIf="passwordConfirm.hasError('minlength')">
          The password must be at least 6 characters
        </p>
      </div>
      <div class="button flex">
        <button class="btn flex-1"  [disabled]="!this.signupForm.valid" (click)="handleSubmit()">S'inscrire</button>
      </div>
      <!-- <p>
        {{user | json}}
      </p> -->
    </form>
  </div>
</div>

