/* .signup{
  width: 600px;
  height: 700px;
  margin: 20px auto;
  border: 0.1px solid black;
  padding: 10px;
}

.form-inline input{
  border: 0.1px solid #ccc;
  height: 40px;
  margin: 5px;
  width: 60%;
  padding: 0 10px;
  font-weight: 1.4rem;
}

.form-inline button{
  height: 40px;
  background-color: #1d1d1d;
  border: none;
  width: 100px;
  color: white;
  cursor: pointer;
  font-weight: bold ;
}

.signup ul{
  list-style: none;
  padding: 0;
}

.signup ul li{
  border: 0.1px solid #1d1d1d;
  justify-content: space-between;
  padding: 5px;
}

.signup ul li div{
  gap: 10px;
} */


/* .btn{
  height: 40px;
  min-width: 150px;
  padding: 10px 0;
  margin: 10px 0;
  outline: none;
  cursor: default;
  background-color: #1d1d1d;
  color: white;
} */

button:disabled{
  cursor: not-allowed;
  opacity: 0.2;
}

.error{
  color: red;
}